body {
  border-style: solid;

  width: 800.01;
  height: 1000px;
}
h1 {
  text-align: center;
}
h3 {
  background-color: rgb(192, 184, 184);
}
.u-flex {
  display: flex;
}
.pic {
  margin-top: 30;
  margin-left: 40;
}
.TC {
  flex-basis: 0;
  flex-grow: 1;
}
.pre {
  font-family: "Micreosoft YaHei";
}
