body {
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  width: 800.01;
  height: 1000px;
}
h1 {
  text-align: center;
}
.u-flex {
  display: flex;
  padding: 0 0 0 20px;
}

.TC {
  flex-basis: 0;
  flex-grow: 1;
}
